#about-page {

    #our-values {
        .card {
            box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .2);
            transition: all 0.3s ease-in-out;
            background-color: $text-dark;
            // background-image: url("../images/classy_fabric_light.png");
            background-repeat: repeat;

            .info-title {
                transition: color 0.3s ease-in-out;
                color: $regular-dark;
            }

            .description {
                padding: 0 15px;
                margin-bottom: 30px;
                color: $regular;
            }

            img {
                transition: all 0.3s ease-in-out;
                opacity: 0.75;
                filter: alpha(opacity=75); /* For IE8 and earlier */
            }

            &:hover {
                background-color: $text;
                box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
                img {
                    opacity: 1;
                    filter: alpha(opacity=100); /* For IE8 and earlier */
                }
              }
        }
    }

    #our-disciplines {
        .card {
            background: $primary;
        }

        .card .card-body p {
            color: $text;
        }
    }

    .features-7 .image-container {
        height: 250px;
    }

    @media screen and (max-width: 767px) {
        .features-7 .image-container img {
            display: block;
            margin: auto;
            max-height: 140px;
            max-width: 140px;
        }
    }
    .features-7:after {
        background-color: rgba(0, 0, 0, 0.32);
    }
}