/* Navbar */
a.navbar-brand {
  font-size: 20px !important;
}

.navbar.bg-primary {
  background-color: $primary !important;
  border-bottom: $secondary solid 2px;
}

.navbar.bg-primary.navbar-transparent {
  background-color: transparent !important;
  border-bottom: transparent solid 2px;
}

/* Header Height */
#index-page {
  .page-header.page-header-small {
    height: 100vh;
    max-height: 1000px;
  }
}

/* Text */
.kungfu {
  font-family: 'cezanne';
}

.text-primary {
  color: $secondary !important;
}

h2, h3, h4 {
  color: $text;
}

p {
  color: $text-dark;

  strong {
    color: $text;
  }
}

.btn p {
  color: inherit;
}

.description {
  color: $text-dark;
}

/* Links */
a {
  color: $secondary;
  &:hover, &:focus {
    color: $secondary;    
  }
}

/* Inputs */
.form-control {
  color: white;
  &:focus {
    background-color: transparent;
    border-color: $secondary;
  }
}

.input-group-addon {
  color: white;
  background-color: transparent;
}

.input-group.input-lg.input-group-focus {
  .form-control {
    color: white;
  }
  .form-control:focus {
    border-color: $secondary;
    background-color: transparent;
  }
  .input-group-addon {
    border-color: $secondary;
    background-color: transparent;
  }
}

.textarea-container {
  background-color: transparent;
  textarea:focus {
    color: white;
  }
}

/* Buttons */
.nav-link.btn.btn-neutral {
  transition: color 0.3;
  color: black;
  &:hover {
    color: $secondary;
  }
}

.btn.btn-primary {
  background-color: $secondary-light;
  color: $primary;
  &:hover {
    background-color: $secondary;
    color: $primary-dark;
  }
}

.btn.btn-primary.btn-simple {
  background-color: transparent;
  color: $secondary;
  border-color: $secondary;
  &:hover {
    color: $secondary-light;
    border-color: $secondary-light;
  }
}

/* Separators */
div.separator.separator-primary {
  background-color: $secondary;
}

/* Blockquote */
.blockquote.blockquote-primary {
  color: $secondary;
  border-color: $secondary;
  small {
    color: $secondary;
  }
}

/* Lists */
[data-background-color="orange"] {
  background-color: $primary;
}

.nav-tabs>.nav-item>.nav-link {
    color: $primary-light !important;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 23px;
    line-height: 1.5;
}

.nav-tabs>.nav-item>.nav-link.active {
  color: white !important;
  background-color: $primary;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

/* Background */
.section {
  background-color: $primary;
  background-repeat: repeat;
}

.section.fixed {
  background-attachment: fixed;  
}

.section.wood {
  background-image: url("../images/dark_wood.png");
  background-repeat: repeat;
}

.section.monument {
  background-image: url("../images/monument.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section.dark {
  background-image: url("../images/classy_fabric_dark.png");
  background-repeat: repeat;
}

.section.light {
  background-image: url("../images/classy_fabric_light.png");
  background-repeat: repeat;
}

/* Images */
.image-container {
  background-size: cover;
}

.team-player {
  img {
    max-width: 200px;
    height: auto;
  }
}

/* Cards */
.card {
  .info-title {
    color: $primary;
  }
  .description {
    color: $primary;
  }
}

.page-header[filter-color="orange"] {
  background: rgba(44, 44, 44, 0.2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(90deg, rgba($secondary, 0.4), $primary-light);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, rgba($secondary, 0.4), $primary-light);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, rgba($secondary, 0.4), $primary-light);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, rgba($secondary, 0.4), $primary-light);
  /* Standard syntax */
}

.gold-gradient {
	height:2px !important;
	padding:0;
	background: #9f7c3c;
	
	/* Safari and Google Chrome */
	background: -webkit-repeating-linear-gradient(90deg, #472819 0%,#472819 2%, #d99e4c 23%, #a87b32 29%, #865c25 33%, #e2b566 61%, #efdf80 66%, #9f7c3c 79%, #2c1b14 95%, #2c1b14 100%);
	
	/* Firefox */
	background: -moz-repeating-linear-gradient(90deg, #472819 0%,#472819 2%, #d99e4c 23%, #a87b32 29%, #865c25 33%, #e2b566 61%, #efdf80 66%, #9f7c3c 79%, #2c1b14 95%, #2c1b14 100%);
	
	/* Opera */
	background: -o-repeating-linear-gradient(90deg, #472819 0%,#472819 2%, #d99e4c 23%, #a87b32 29%, #865c25 33%, #e2b566 61%, #efdf80 66%, #9f7c3c 79%, #2c1b14 95%, #2c1b14 100%);
	
	/* Internet Explorer */
	background: -ms-repeating-linear-gradient(90deg, #472819 0%,#472819 2%, #d99e4c 23%, #a87b32 29%, #865c25 33%, #e2b566 61%, #efdf80 66%, #9f7c3c 79%, #2c1b14 95%, #2c1b14 100%);
	
	/* W3C Standard */
	background: repeating-linear-gradient(90deg, #472819 0%,#472819 2%, #d99e4c 23%, #a87b32 29%, #865c25 33%, #e2b566 61%, #efdf80 66%, #9f7c3c 79%, #2c1b14 95%, #2c1b14 100%);
}


.non-semantic-protector { position: relative; z-index: 1; }

.ribbon {
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  font-size: 20px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 50%;
     
  position: relative;
  background: $secondary-light;
  color: #333;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
 }
 .ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid $secondary;
  z-index: -1;
 }
 .ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
 }
 .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
 }
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: $secondary-dark transparent transparent transparent;
  bottom: -1em;
 }
 .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
 }
 .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
 }


 #google-maps {
    width: 100%;
    height: 60vh;
 }

 .gm-style-iw {    
  #mapHeading {
    font-weight: bold;
    color: $primary;
    margin-bottom: 5px;
  }

  #mapBody p {
    color: $primary;
  }
}