@keyframes blur {
    0%   {-webkit-filter: blur(0px) brightness(100%);}
    50%  {-webkit-filter: blur(8px) brightness(300%);}
    100% {-webkit-filter: blur(0px) brightness(100%);}
}
  
.blur {
    animation-name: blur;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
}

@keyframes blur-to-white {
    0%   {-webkit-filter: blur(30px) brightness(100%);}
    50%  {-webkit-filter: blur(8px) brightness(600%);}
    100% {-webkit-filter: blur(0px) brightness(600%);}
}
  
.blur-to-white {
    animation-name: blur-to-white;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;

}

.paused {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

.running {
    -webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
    animation-play-state: running;
}



#index-page {

    .discipline-list {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .disciplines {
        background-color: transparent;
    }

    .nav-tabs > .nav-item > .nav-link.active:hover {
        border: 1px solid $secondary-light;
        color: $secondary-light !important;
    }

    a.discipline {
        font-size: 1.2rem;
        border-radius: 0;
    }

    .features-6 .phone-container {
        max-width: 360px;
    }

    #section-contact-us .card {
        background-color: rgba($primary-dark, 0.80);

        label {
            color: $regular;
        }

        textarea.form-control, input.form-control {
            color: $secondary-light;
        }

        .input-group-focus .input-group-addon {
            background-color: transparent;
            border-color: $secondary;
        }
    }


}