#schedule-page {
    div.schedule-pdf-wrapper {
        margin-top: -180px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        img {
            border: 2px solid $secondary;
            background-color: $primary;
            background-image: url("../images/classy_fabric_dark.png");
            background-attachment: fixed; 
            background-repeat: repeat;
            width: 100%;
        }
    }

    @media screen and (max-width: 767px) {
            img {
                border: 2px solid $secondary;
                background-color: $primary;
                background-image: url("../images/classy_fabric_dark.png");
                background-attachment: fixed; 
                background-repeat: repeat;
                width: 100%;
                padding: 0;
            }
    }

    @media screen and (max-width: 540px) {
        div.schedule-pdf-wrapper {
            margin-top: -130px;
        }
    }
    #download_schedule {
        max-width: 250px;
        margin: auto;
        margin-top: 20px;
    }
}