@font-face{
	font-family: 'cezanne';
	src: url(../fonts/cezanne.ttf) format('truetype');
}

$primary: #303030;
$primary-light: #595959;
$primary-dark: #070707;

$secondary: #ba9e4f;
$secondary-light: #eecf7d;
$secondary-dark: #887022;

$text: #DEDEDE;
$text-light: #EAEAEA;
$text-dark: #C9C9C9;
